<!DOCTYPE html>
<html lang="pt-br">
    <body>
        <div name="header" class="container-fluid back-primary">
            <header class="d-flex justify-content-around py-3">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <img src="" alt="" class="col-2" id="logo-ufv">
                    </a>
                </div>

                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link text-white" id="firstNav">Cadastrar</a></li>
                    <li class="nav-item d-flex align-items-center mx-3">
                        <div class="bg-white h-75 mb-2" style="width: 1.2px"></div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link text-white fw-bold" id="secondNav">Dashboard</a></li>
                </ul>
            </header>
        </div>
    </body>
</html>