@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";


$primary: #791d1f;
$secondary: #411718;
$success: #43a71f;
$light: #ffffff;
$gray: #f4f4f4;
$input: #dddddd;
$inputText: #4e4e4e;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "light": $light,
    "gray": $gray,
    "input": $input,
    "inputText": $inputText
);

.back-primary {
    background-color: $primary !important;
}

.back-secondary {
    background-color: $secondary !important;
}

.back-success {
    background-color: $success !important;
}

.back-input {
    background-color: $input !important;
}

.back-gray {
    background-color: $gray !important;
}

.text-primary {
    color: $light !important;
}

.text-input {
    color: $inputText !important;
}

.w-40 {
    width: 40%;
}

.text-deco-none {
    text-decoration: none;
}

.font-lighter {
    font-weight: lighter;
}

.pagination .active .page-link {
    background-color: #791d1f;
    border-color: #791d1f;
    color: white; /* Para garantir que o texto seja legível */
}

.pagination .page-link {
    background-color: white;
    border-color: #791d1f;
    color: #791d1f; /* Para garantir que o texto seja legível */
}

.pagination .page-link:hover {
    background-color: #5e1517; /* Cor mais escura para o hover */
    border-color: #5e1517;
    color: white;
}

h1, .h1 {
    font-size: calc(1.475rem + 1.5vw);
    font-family:'Roboto';
}
@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 3.8rem;
    }
}

html {
    font-family: 'Roboto';
}